<header>
  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input matInput id="name" type="text" [formControl]="searchFormControl" />
    @if (searchFormControl.value) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchFormControl.reset()"
    >
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
</header>
<main>
  @if (movieStoreService.movies$ | async; as moviesResponse) {
  <small>
    Showing
    {{ moviesResponse?.results?.length }} results out of
    {{ moviesResponse?.total_results }}
  </small>
  <div class="movies">
    @for (movie of (moviesResponse)?.results; track movie) {
    <div class="movie">
      {{ movie.title }}
    </div>
    }
  </div>

  <div class="pagination">
    <span>
      <button
        [disabled]="moviesResponse?.page === 1"
        color="accent"
        mat-icon-button
        title="Back"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
    </span>
    <small>
      Page
      {{ moviesResponse?.page }}
      of {{ moviesResponse?.total_pages }}
    </small>
    <span>
      <button
        [disabled]="moviesResponse?.page === moviesResponse?.total_pages"
        color="accent"
        mat-icon-button
        title="Forward"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </span>
  </div>
  }
</main>
