// mat toolbar with spacer css:
.mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

// spacer:
.spacer {
  flex: 1 1 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
